<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Blog</title>
		<link rel="stylesheet" href="css/foundation.css" />
    <link rel="stylesheet" href="css/base.css" />
    <!--link href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,700' rel='stylesheet' type='text/css'-->
	</head>
	<body ng-app="app" ng-controller="CtrlAlumnos">
		<div class="container">
			<!--div class="row">
				<div class="column large-24 medium-24 small-24">
					<h1>Alumnos del curso</h1>
					<div class="content">
						<div ng-repeat="alumno in alumnos | orderBy:'nombre' " class="items">
							<div class="item">
								<div>{{alumno.nombre}} - {{alumno.telefono}}</div>
								<div class="label">-{{alumno.curso}}-</div>
							</div>
						</div>
					</div>
					<button class="button" ng-click="showForm()" ng-hide="formVisibility">Add Contact</button>
					<div class="content form" ng-show="formVisibility">
						<h2>Añadir alumnos</h2>
						<div>
							<label for="">
								<input type="text" ng-model="nuevoAlumno.nombre" placeholder="Nombre">
							</label>
						</div>
						<div>
							<label for="">
								<input type="text" ng-model="nuevoAlumno.telefono" placeholder="Telefono">
							</label>
						</div>
						<div>
							<label for="">
								<input type="text" ng-model="nuevoAlumno.curso" placeholder="Curso">
							</label>
						</div>
						<div>
							<button class="button" ng-click="Save()">Add Contact</button>
						</div>
					</div>
				</div>
			</div-->
		</div>
		<div class="blog">
			<div class="row">
				<div class="column large-24">
					<h1>BLOG - AngularJS</h1>
				</div>
			</div><!--END ROW-->
			<div class="row">
				<div class="column large-12 small-24">
					<div class="row">
						<div class="column large-24">Row 1</div>
						<div class="column large-24">Row 1</div>
						<div class="column large-24">Row 1</div>
						<div class="column large-24">Row 1</div>
						<div class="column large-24">Row 1</div>
						<div class="column large-24">Row 1</div>
					</div>
				</div><!--END COL-->
				<div class="column large-12 small-24">
					<div class="row">
						<div class="column large-24">Row 2</div>
						<div class="column large-24">Row 2</div>
						<div class="column large-24">Row 2</div>
						<div class="column large-24">Row 2</div>
						<div class="column large-24">Row 2</div>
						<div class="column large-24">Row 2</div>
					</div>
				</div><!--END COL-->
			</div><!--END ROW-->
		</div><!--END BLOG-->
		
		<script src="js/vendor/jquery.min.js"></script>
    <script src="js/vendor/what-input.min.js"></script>
    <script src="js/foundation.min.js"></script>
		<script src="js/angular.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/app.js" type="text/javascript" charset="utf-8"></script>
		<script>
      $(document).foundation();
    </script>
	</body>
</html>
